// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
//
// body {
//   // background:
//   //   linear-gradient(
//   //     rgba(0, 0, 0, 0.5),
//   //     rgba(0, 0, 0, 0.5)
//   //   ),
//   //   url(https://image.ibb.co/mLGsWo/brad1.jpg) no-repeat;
//   // background-size: cover;
//   font-family: 'Source Sans Pro', sans-serif;
//   background-color: #D3D3D3;
// }
//
// .responsive-image{
//     width: 100%;
//     background-size: 100% 100%;
// }
//
// /* Retina display */
// @media screen and (min-width: 1024px){
//     .responsive-image{
//         background-image: url('https://image.ibb.co/mLGsWo/brad1.jpg');
//     }
// }
// /* Desktop */
// @media screen and (min-width: 980px) and (max-width: 1024px){
//     .responsive-image{
//         background-image: url('https://image.ibb.co/mLGsWo/brad1.jpg');
//     }
// }
// /* Tablet */
// @media screen and (min-width: 760px) and (max-width: 980px){
//     .responsive-image{
//         background-image: url('https://image.ibb.co/mLGsWo/brad1.jpg');
//     }
// }
// /* Mobile HD */
// @media screen and (min-width: 350px) and (max-width: 760px){
//     .responsive-image{
//         background-image: url('https://image.ibb.co/mLGsWo/brad1.jpg');
//     }
// }
// /* Mobile LD */
// @media screen and (max-width: 350px){
//     .responsive-image{
//         background-image: url('https://image.ibb.co/mLGsWo/brad1.jpg');
//     }
// }








header {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

}

@media screen and (max-width: 750px) {
  header {
    top: 5%;

  }
}




h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}

@media screen and (max-width: 750px) {
  h1{
  font-size: 1rem;

  }
}
p {
  margin: 0;
  font-size: 1.5rem;
}
